[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/chaiscript"]
	path = lib/chaiscript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "lib/geometrize"]
	path = lib/geometrize
url=https://github.com/Tw1ddle/geometrize-lib
[submodule "lib/qt_google_analytics"]
	path = lib/qt_google_analytics
	url = https://github.com/HSAnet/qt-google-analytics
[submodule "lib/qtgifimage"]
	path = lib/qtgifimage
	url = https://github.com/Tw1ddle/QtGifImage
[submodule "resources/templates"]
	path = resources/templates
	url = https://github.com/Tw1ddle/geometrize-templates
[submodule "resources/web_export"]
	path = resources/web_export
	url = https://github.com/Tw1ddle/geometrize-web-export
[submodule "resources/scripts"]
	path = resources/scripts
	url = https://github.com/Tw1ddle/geometrize-scripts
